{:deps {io.github.nextjournal/clerk {:git/sha "4c4983182061abd24201cd43fab6ee55dc16b7e8"}
        org.clojure/clojure         {:mvn/version "1.12.0-alpha4"}
        org.clojure/data.json       {:mvn/version "2.4.0"}
        scicloj/tablecloth          {:mvn/version "6.103"}
        hato/hato {:mvn/version "0.8.2"}}
 :aliases
 {:nextjournal/garden {:exec-fn nextjournal.clerk/serve!}}}
