{:deps {io.github.nextjournal/clerk {:git/sha "c741fcd021c333d6d3fb2ba000cc04bb5d3e8251"}
        org.clojure/clojure         {:mvn/version "1.12.0-alpha9"}
        org.clojure/data.json       {:mvn/version "2.4.0"}
        scicloj/tablecloth          {:mvn/version "7.021"}
        hato/hato                   {:mvn/version "0.9.0"}}
 :aliases
 {:nextjournal/garden {:exec-fn nextjournal.clerk/serve!}}}
